.body{
    font-family: monospace;
}
.caesarapp{
    text-align: center;
    text-transform: uppercase;
}
.bigsection{
    text-align: center;
    text-transform: capitalize;
    margin-top: 10%;
}
.bothdiv{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.textheig{
    width: 50%;
    height: 50%;
}